<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>to.iris.chat.macos</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>irischat</string>
      </array>
    </dict>
  </array>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.social-networking</string>
  <key>LSMultipleInstancesProhibited</key>
  <true/>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Find nearby people.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>Find nearby people.</string>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Find and message nearby people.</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_iris-chat._tcp</string>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
