[Desktop Entry]
Type=Application
Name=Iris Chat
GenericName=Private Chat
Comment=Iris Chat - private messenger
Exec=iris-chat
Icon=iris-chat
Terminal=false
Categories=Network;InstantMessaging;
